<div class="StudentLogin">
  <div>
    <div class="LoginText">
      <span>Login</span>
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="password" matInput placeholder="password" type="password">
      </mat-form-field>

      <button mat-flat-button color="primary">Login</button>
      <a mat-flat-button type="button" routerLink="/student/reg">Sign Up</a>
    </form>
  </div>
</div>
