<div class="StudentReg">
  <div>
    <div class="LoginText">
      <span>Sign Up</span>
    </div>
    <form class="form" [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
      <mat-form-field class="full-width">
        <input formControlName="id" matInput placeholder="id">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="name" matInput placeholder="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="surname" matInput placeholder="surname">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="myDatepicker" formControlName="birth" placeholder="birth">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="password" matInput placeholder="password" type="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="password2" matInput placeholder="confirm password" type="password">
      </mat-form-field>

      <button mat-flat-button color="primary">Sign Up</button>
      <a mat-flat-button type="button" routerLink="/student/login">Login</a>
    </form>
  </div>
</div>
